@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 106 48% 65%;
    --primary-foreground: 106 25% 15%;
    --secondary: 36 100% 63%;
    --secondary-foreground: 36 25% 15%;
    --muted: 210 20% 96.1%;
    --muted-foreground: 215 16.3% 46.9%;
    --accent: 36 100% 63%;
    --accent-foreground: 36 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 91.4%;
    --input: 210 20% 91.4%;
    --ring: 106 48% 65%;
    --chart-1: 106 48% 65%;
    --chart-2: 36 100% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 106 48% 65%;
    --sidebar-primary-foreground: 106 25% 15%;
    --sidebar-accent: 210 20% 91.4%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 210 20% 85.4%;
    --sidebar-ring: 106 48% 65%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 106 48% 65%;
    --primary-foreground: 106 25% 15%;
    --secondary: 36 100% 63%;
    --secondary-foreground: 36 25% 15%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 36 100% 63%;
    --accent-foreground: 36 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 106 48% 65%;
    --chart-1: 106 48% 65%;
    --chart-2: 36 100% 63%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 106 48% 65%;
    --sidebar-primary-foreground: 106 25% 15%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 106 48% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
